version: "3.9"

services:
  postgres:
    image: postgis/postgis:15-3.3
    container_name: forest_postgres
    environment:
      POSTGRES_DB: forest_db
      POSTGRES_USER: forest_user
      POSTGRES_PASSWORD: forest_password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data:
